@import '../../settings';

    div.card-item {
      position: relative;
      background-color: white;
      padding: $gap;
      border-radius: $card-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      
      margin-bottom: $gap;

      img {
        display: block;

        width: calc(100% + 2 * #{$gap});
        margin: -$gap 0 $gap (-$gap);

        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }

      &:hover {
        background-color: rgb(185, 185, 185);
      }
      .card-upload-icon {
        position: absolute; /* Add position absolute for icon placement */
        bottom: 12px;
        right: 30px;
        cursor: pointer;

        &:hover {
          color: red;
        }
      }
      .card-delete-image-icon {
        position: absolute; /* Add position absolute for icon placement */
        top: 3px;
        right: 3px;
        padding: 10px;
        background-color: rgb(185, 185, 185);
        border-radius: $card-border-radius;
        cursor: pointer;

        &:hover {
          color: red;
          background-color: white;
          
        }
      }
      .card-delete-icon {
        position: absolute; /* Add position absolute for icon placement */
        bottom: 12px;
        right: 10px;
        cursor: pointer;

        &:hover {
          color: red;
        }
      }

    }