@import '../../settings';

.search-bar {
    font-size: 14px;
    position: absolute;
    right: 7px;

    .input {
        background-color: #396CB1;
        border-radius: 8px ;
        border: none;
        color: white;
        margin: 10px;
        
        &:hover {
            background-color: #74a3e4;
        }

        &::placeholder {
            color: white;
        }
    }
    
}
