@import '../../settings';

.kanbaflexboard-boards {
    display: flex;
    margin: $gap 0 5px 0;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      background-color: #00000024;
    }

    &::-webkit-scrollbar:horizontal {
      height: 11px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.46);
      border-radius: 5px solid $list-bg-color;
    }

    .board-drop-preview {
      background-color: rgba(23, 43, 77, 0.2);
      margin: 0 0 0 10px;
      height: 500p;
      border-radius: $card-border-radius;
    }

    .add-new-board {
      display: flex;
      width: 272px;
      height: 48px;
      align-items: center;
      padding: 4px 0 4px 15px;
      cursor: pointer;
      color: white;
      margin-left: $gap;
      font-size: 15px;
      background-color: hsla(0, 0, 100, .24);
      border-radius: $board-border-radius;

      &:hover {
        background-color: hsla(0, 0, 100, .34);
      }

      .group-btn {
        i {
          color: #b3b3b3;

          &:hover {
            color: red;
          }
        }
      }
    }

    .content-add-board {
      width: 250px;
      height: fit-content;
      padding: 10px;
      margin-left: 10px;
      background-color: hsla(0, 0, 100, .34);
      border-radius: $card-border-radius;

      .group-btn {
        display: flex;
        padding-top: 10px;
        align-items: center;

        i {
          font-size: 30px;
          padding-left: 10px;
          cursor: pointer;

          &:hover {
            color: red;
          }
        }
      }

      .form-control {
        width: unset !important;
      }
    }
  }