$gradient-start-color          : #1C83D8;
$gradient-end-color            : #37B3C4;
$gradient-direction            : to bottom;
$kanbaflexboard-bg-color       : linear-gradient($gradient-direction, $gradient-start-color, $gradient-end-color);
$navbar-app-bg-color           : #08479E;
$navbar-kanbaflexboard-bg-color: #125EA7;
$list-bg-color                 : #ebecf0;
$app-main-color                : #172b4d;
$gap                           : 12px;
$card-gap                      : 8px;
$board-header-height           : 48px;
$board-footer-height           : 44px;
$board-border-radius           : 12px;
$card-border-radius            : 10px;