@import './settings';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3em;
  font-size: 14px;
}

.Kanbaflex-master {
  height: 100vh;
  display: grid;
  grid-template-rows: 48px 56px 1fr;
  background: $kanbaflexboard-bg-color;
  color: $app-main-color;
  
  .icon {
    font-size: 14px;
    margin-right: 3px;
  }

  .customize-input-board {
    border: none;
    cursor: pointer;
    font-weight: bold;

    &:focus {
      outline: none !important;
      box-shadow: none !important;
      background-color: white;
      cursor: text;
    }

    background-color: inherit;
  }

  .customize-input-card {
    border: none;
    cursor: pointer;

    &:focus {
      outline: none !important;
      box-shadow: none !important;
      background-color: white;
      cursor: text;
    }

    background-color: inherit;
  }
}